@font-face {
  font-family: Gilroy;
  src: url(./Gilroy-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Gilroy;
  src: url(./Gilroy-SemiBold.ttf);
  font-weight: 700;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  font-family: 'Gilroy';
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

img {
  display: block;
  margin: 0 auto;
}

a {
  color: #1DA1F2;
  text-decoration: none;
}

table {
    background-color: #f1f1c1;
}

textarea {
  resize: none;
}

/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  border: none;
  color: white;
  background-color: green;  /* yellow */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
}

.box {
  border: 1px solid black;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
}

.helper {
  margin-top: 0px;
  font-size: 14px;
}
